.card {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  overflow: hidden;
  background: #46607a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border:  5px double #c6d6f1;
}

.card:hover {
  transform: translateY(-5px);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 16px;
}

.header {
  margin-bottom: 12px;
}

.name {
  margin: 0;
  font-size: 1.2rem;
  color: #ac5050;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: white;
  margin-top: 6px;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
}

.infoLabel {
  font-weight: bold;
  color: #302020;
}